---
---

@import "{{ site.theme }}";

.banner-box{
  background-color: black;
}

.search-box {

    float: right;
    line-height: 54px;
	padding-left: 30px;
}

.wrapper-wide{
    max-width: calc(1300px - (30px * 2));
}


  nav a {
    display: block;
    float: left;
/*We're just setting up fonts settings here*/

 //   font-family: sans-serif;

    font-size: 26px;
    color: white;

/*Box Method Test AKA handicap*/

  //  background-color: #17b0cf;
//    border: 1px solid #000;
   

   /*Padding Our Box*/

  padding-top: 10px;

    padding-right: 10px;
    padding-bottom: 10px;

    padding-left: 10px;

/*Let's remove the dumb link decoration*/
    text-decoration: none;
    margin-right:0px;
}

 nav a:hover {
background-color: #17b0cf;
 }

.site-nav .page-link:not(:last-child) {
text-decoration: none;
    margin-right: 0px;

}

#logo {
 /*font*/

  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;

/*box*/

  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
  }
